.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
}

.error {
  color: red;
  margin-top: 3px;
  margin-left: 5px;
}